<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <application>
        <activity
            android:name="._12kotlin.DrawerLayoutActivity"
            android:theme="@style/Kotlin_no_toolbar" />
        <activity
            android:name="._12kotlin.Toolbar2Activity"
            android:label="Fruits"
            android:theme="@style/Kotlin_no_toolbar" />
        <activity
            android:name="._12kotlin.ToolbarActivity"
            android:label="Toolbar 的标题变了好神奇！！"
            android:theme="@style/Kotlin_no_toolbar" />
        <activity android:name="._12kotlin.MaterialDesignMainActivity" />
        <activity android:name="._11kotlin.OkHttpActivity" />
        <activity android:name="._08kotlin._08MainActivity" />
        <activity android:name="._5kotlin.NewsContentActivity" />
        <activity android:name="._4kotlin.ChatActivity" />
        <activity android:name="._4kotlin.CustomTitleLayoutActivity" />
        <activity android:name="._3kotlin.FirstActivity" />
        <activity android:name=".KotlinMainActivity" />
        <activity android:name="._4kotlin.ListViewActivity" />
        <activity android:name="._4kotlin.RecyclerViewFruitActivity" />
        <activity android:name="._5kotlin.NewsMainActivity" />
        <activity android:name="._07kotlin.SevenKotlinActivity" />
        <activity android:name="._09kotlin.NotificationMainActivity" />
        <activity android:name="._11kotlin.HttpUrlConnectionActivity" />
        <activity android:name="._11kotlin.retrofit.RetrofitMainActivity" />
        <activity android:name="._11kotlin.retrofit.Retrofit2Activity" />
        <activity android:name="._12kotlin.NavigationViewActivity"
            android:theme="@style/Kotlin_no_toolbar2"
           />
        <activity android:name="._12kotlin.NavigationViewActivity2"
        android:theme="@style/Kotlin_no_toolbar2"
        />
        <activity android:name="._12kotlin.MaterialCardViewActivity"
            android:theme="@style/Kotlin_no_toolbar3"
            />
        <activity android:name="._12kotlin.ToolbarActivity3"
            android:theme="@style/Kotlin_no_toolbar3"/>
        <activity android:name="._12kotlin.MaterialCardViewActivity2"
            android:theme="@style/Kotlin_no_toolbar3"/>
        <activity android:name="._12kotlin.SwipeRefreshActivity"
            android:theme="@style/Kotlin_no_toolbar3"/>
        <activity android:name="._12kotlin.FruitActivity"
            android:theme="@style/fruitActivityTheme"/>
        <activity android:name="._12kotlin.SwipeRefreshActivity2"
            android:label="练习下拉刷新"
            android:theme="@style/Kotlin_no_toolbar3"/>
    </application>

</manifest>