<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <application>
        <activity android:name="._08kotlin._08MainActivity"></activity>
        <activity android:name="._5kotlin.NewsContentActivity" />
        <activity android:name="._4kotlin.ChatActivity" />
        <activity android:name="._4kotlin.CustomTitleLayoutActivity" />
        <activity android:name="._3kotlin.FirstActivity" />
        <activity android:name=".KotlinMainActivity" />
        <activity android:name="._4kotlin.ListViewActivity" />
        <activity android:name="._4kotlin.RecyclerViewFruitActivity" />
        <activity android:name="._5kotlin.NewsMainActivity" />
        <activity android:name="._07kotlin.SevenKotlinActivity" />
        <activity android:name="._09kotlin.NotificationMainActivity" />
    </application>

</manifest>