<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lib_custom_view2">

    <application>
        <activity android:name="com.example.book.BookCustomMainActivity" />
        <activity android:name="com.example.book._02matrix.PolyToPolySampleActivity" />
    </application>
</manifest>