<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firelibrary">

    <application>
       <!-- <activity android:name=".FireMainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>-->
        <activity android:name=".FireMainActivity"/>
        <service
            android:name=".fire.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--&lt;!&ndash; Set com.example.customview.book.custom default icon. This is used when no icon is set for incoming notification messages.-->
        <!--See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--android:resource="@drawable/pic_1"/>-->
        <!--&lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
        <!--notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--android:resource="@color/colorPrimary"/>-->

        <receiver android:name=".fire.FirebaseBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
