<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.customview">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".regex.RegexMainActivity"></activity>
        <activity android:name=".regex.RegexMainActivity" />
        <activity android:name=".CustomViewMain">

            <!-- activity 中的属性 不在最近打开应用列表中显示   android:excludeFromRecents="true" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".anim.view.tween.ScannerDome" />
        <activity android:name=".anim.property.value.LoadingDemo" />
        <activity
            android:name=".DrawViewMain"
            android:noHistory="true" />
        <activity android:name=".view.SpiderActivity" />
        <activity android:name=".notify.NotifyMain" />
        <activity android:name=".notify.NotifyTestActivity">
            <intent-filter>
                <action android:name="com.example.customview.notify.NotifyTestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentMainActivity" />
        <activity android:name=".list.ListMainActivity" />
        <activity android:name=".deeplink.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="s"
                    android:scheme="s" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a> -->
                <data
                    android:host="test.deeplink.com"
                    android:pathPattern="/mys"
                    android:scheme="http" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="link" 必须有 -->
            <!-- android:scheme="will" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.IncludeMainActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".CoordinatorActivity" />
        <activity android:name=".book.BookMainActivity" />
        <activity android:name=".book.custom.CustomBookMain" />
        <activity android:name=".book.custom._10canvas.ShapeInstanceActivity" />
        <activity android:name=".book.custom._10canvas.TenMainActivity" />
        <activity android:name=".book.custom._10canvas.ShapeConstructorActivity" />
        <activity android:name=".book.custom._7paint.SevenMainActivity" />
        <activity android:name=".book.custom._7paint.BitmapShaderActivity" />
        <activity android:name=".book.custom._10canvas.TelescopeActivity" />
        <activity android:name=".book.custom._7paint.TelescopeActivity" />
        <activity android:name=".book.custom._7paint.AuthorActivity" />
        <activity android:name=".book.custom._10canvas.CustomDrawableActivity" />
        <activity android:name=".book.custom._10canvas.BackgroundDrawableActivity" />
        <activity android:name=".book.custom._7paint.LinearGradientActivity" />
        <activity android:name=".book.custom._7paint.ShimmerTextActivity" />
        <activity android:name=".book.custom._7paint.RadialGradientActivity" />
        <activity android:name=".book.custom._7paint.BezierWaveActivity" />
        <activity android:name=".book.custom._7paint.BezierMainActivity" />
        <activity android:name=".book.custom._7paint.NormalGestureTrackActivity" />
        <activity android:name=".book.custom._7paint.BezierGestureTrackActivity" />
        <activity android:name=".book.custom._7paint.AnimWaveActivity" />
        <activity android:name=".book.custom._7paint.ShadowLayerActivity" />
        <activity android:name=".book.custom._7paint.XmlShadowLayerActivity" />
        <activity android:name=".book.custom._7paint.BitmapBlurMaskFilterActivity" />
        <activity android:name=".book.custom._7paint.BlurMaskFilterActivity" />
        <activity android:name=".book.custom._7paint.BlurMaskFilterStyleActivity" />
        <activity android:name=".book.custom._8xfermode.EightMainActivity" />
        <activity android:name=".book.custom._8xfermode.AvoidXfermodeColorActivity" />
        <activity android:name=".book.custom._8xfermode.PorterDuffXfermodeActivity" />
        <activity android:name=".book.custom._8xfermode.TwitterActivity" />
        <activity android:name=".book.custom._8xfermode.PorterDuffXfermodeSrcActivity" />
        <activity android:name=".book.custom._8xfermode.EraserSrcOutActivity" />
        <activity android:name=".book.custom._8xfermode.RoundImageActivity" />
        <activity android:name=".book.custom._8xfermode.PorterDuffXfermodeDstActivity" />
        <activity android:name=".book.custom._8xfermode.PorterDuffXfermodeClearActivity" />
        <activity android:name=".book.custom._8xfermode.TextWaveActivity" />
        <activity android:name=".book.custom._8xfermode.IrregularWaveActivity" />
        <activity android:name=".book.custom._8xfermode.InvertedActivity" />
        <activity android:name=".book.custom._8xfermode.LightBookActivity" />
        <activity android:name=".book.custom._9canvas.NineMainActivity" />
        <activity android:name=".book.custom._9canvas.SaveFlagMatrixActivity" />
        <activity android:name=".book.custom._9canvas.SaveFlagClipActivity" />
        <activity android:name=".book.custom._12view.TwelveMainActivity" />
        <activity android:name=".book.custom._12view.DeclareStyleableActivity" />
        <activity android:name=".book.custom._12view.OnMeasureActivity" />
        <activity android:name=".book.custom._12view.GetMarginActivity" />
        <activity android:name=".book.custom._12view.MyLinLayoutActivity" />
        <activity android:name=".book.custom._12view.FlowLayoutActivity" />
        <activity android:name=".book.custom._13view.ThirteenMainActivity" />
        <activity android:name=".book.custom._13view.GestureDetectorActivity" />
        <activity android:name=".book.custom._13view.OnDoubleTabListenerActivity" />
        <activity android:name=".book.custom._13view.GestureDetectorWeb" />
        <activity android:name=".book.custom._13view.SimpleOnGestureDetectorActivity" />
        <activity android:name=".book.light.AdvancedLightBookMain" />
        <activity android:name=".book.light._3view.TitleBarActivity" />
        <activity android:name=".book.light._3view.ThreeMainActivity" />
        <activity android:name=".book.custom._13view.WindowBookActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BitmapCompressActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.WaterMarkActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.ExtraAlphaActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.decodeStreamActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.decodeByteArrayActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BmpBlankGradientActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BitmapStaticConstructorActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BitmapPixelActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BitmapFactoryOptionsActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.BitmapDensityActivity" />
        <activity android:name=".book.custom._10canvas.bitmap.TenBitmapMainActivity" />
        <activity android:name=".bitmap.BitmapMainActivity" />
        <activity
            android:name=".other.ImmersionActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".other.CoordinatorLayoutDemo" />
        <activity android:name=".other.CoordinatorLayoutMainActivity" />
        <activity android:name=".bitmap.ImgFilterActivity" />
        <activity android:name=".bitmap.CompositeImgActivity" />
        <activity android:name=".view.constraint.ConstrainBiasActivity" />
        <activity android:name=".view.constraint.ConstraintLayoutActivity" />
        <activity android:name=".view.constraint.ConstrainCircleActivity" />
        <activity android:name=".view.constraint.ConstrainGuidelineActivity" />
        <activity android:name=".view.constraint.ConstrainBarrierActivity" />
        <activity android:name=".view.constraint.ConstrainGroupActivity" />
        <activity android:name=".view.constraint.ConstrainPlaceholderActivity" />
        <activity android:name=".view.constraint.ConstrainAnimateActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".view.constraint.ConstrainSetActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
    </application>

</manifest>