<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.customview">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CustomViewMain">
          <!-- activity 中的属性 不在最近打开应用列表中显示   android:excludeFromRecents="true"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".anim.view.tween.ScannerDome" />
        <activity android:name=".anim.property.value.LoadingDemo" />
        <activity android:name=".DrawViewMain"
            android:noHistory="true"
            />
        <activity android:name=".view.SpiderActivity" />
        <activity android:name=".notify.NotifyMain" />
        <activity android:name=".notify.NotifyTestActivity">
            <intent-filter>
                <action android:name="com.example.customview.notify.NotifyTestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentMainActivity" />
        <activity android:name=".list.ListMainActivity" />
        <activity android:name=".deeplink.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="s"
                    android:scheme="s" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

           <!--     <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a>-->
                <data
                    android:scheme="http"
                    android:host="test.deeplink.com"
                    android:pathPattern="/mys" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="link" 必须有-->
            <!--                    android:scheme="will" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.IncludeMainActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".CoordinatorActivity" />
        <activity android:name=".book.BookMainActivity" />
        <activity android:name=".book.custom.CustomBookMain" />
        <activity android:name=".book.custom._10canvas.ShapeInstanceActivity" />
        <activity android:name=".book.custom._10canvas.TenMainActivity" />
        <activity android:name=".book.custom._10canvas.ShapeConstructorActivity" />
        <activity android:name=".book.custom._7paint.SevenMainActivity" />
        <activity android:name=".book.custom._7paint.BitmapShaderActivity" />

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
</manifest>
